// These colors are specific to the theme. Do not use in a package!
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #9bb4e2;
@purple: #7C6985;
@green: #66b17a;
@red: #B4646A;
@orange: #de935f;
@light-orange: #f0c674;
@comments-are-bad: #ff0000;
@gold: #a59070;
