//-------------------------------------------------------------------------------//
//--------------------------| Mixin and Variables |------------------------------//
//-------------------------------------------------------------------------------//
.MIXIN_Firacode {
   font-family: 'Fira Code';
   font-style: normal;
   text-rendering: optimizeLegibility;
   font-weight: 500;
}

.MIXIN_Flottflott {
   vertical-align: baseline;
   font-family: 'MrRobot';
   height: inherit;
   font-size: 0.75em;
   font-weight:lighter;
   line-height: 1rem;
}

.MIXIN_ligature{
   -webkit-font-feature-settings: "liga" off, "calt" off;
}

//-------------------------------------------------------------------------------//
//-------------------------------| Selectors |-----------------------------------//
//-------------------------------------------------------------------------------//
atom-text-editor {
   .MIXIN_Firacode();

   .syntax--string.syntax--quoted,
   .syntax--string.syntax--regexp {
      .MIXIN_ligature();
   }

   .syntax--source > .syntax--keyword.syntax--syntax--control.syntax--flow,
   .syntax--storage:not(.syntax--arrow), .syntax--type .syntax--function,
   .syntax--keyword.syntax--control,
   .syntax--keyword.syntax--operator:not(.syntax--assignment):not(.syntax--relational):not(.syntax--logical),
   .syntax--attribute-name.syntax--pseudo-element{
      .MIXIN_Flottflott();

      .syntax--punctuation{
         .MIXIN_Firacode;
         font-size:initial;
      }
   }
}
